body{
  margin: 0;
  padding: 0;
  /* height: auto; */
}
.pic{
  position: relative;
 width: 100%;

}
.title{
  position: absolute;
  text-align: center;
  top: 200px;
  left: 200px;
  color: white;
  text-transform: capitalize;
  font-size: 24px;
  overflow-x: hidden;
}
.side{
   height:auto;
  width: 300px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-color:#A9A9A9;
  overflow-x: hidden;
  padding-top: 20px;
  
}


.avatar{
  
    border: 4px solid white;
  margin-left: 40px;
  width: 210px;
  height: 180px;
  border-radius: 60%;
  ;
}
.name{
    margin-left: 60px;
  border-radius: 60%;
  ;
}
.name-p{

  margin-left: 20px;
  

}
ul{
  list-style-type: none;
  height: 100px;
}
li a {
  display: block;
  width: 80px;
  /* height: 100px; */
  padding: 10px 0 0 20px;
  margin-left: 50px;
  margin-top: 50px;
 
}
.container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box1 box2" 
    
}
.box1{
grid-area: box1;
background-color: gray;
}
